@import "https://unpkg.com/open-props"layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Hind';
}

.content{
    background-color: white;
    text-align: center;
    align-items: center;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

.box{
    align-items: center;
    width: 500px;
    background: white;
    text-align: center;
    border: solid;
    border-radius: 15px;
    
}

p{
    color: black;
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.containerWH{
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: white;
}

.containerWH label{
    display: block;
    font-size: 20px;
    font-weight: 600px;
    color: black;
    margin-bottom: 20px;
}

.containerWH input{
    outline:none;
    border:none;
    width: 50%;
    text-align:center;
    font-size:28px;
    font-family:"Hind";
}

.inputW{
    background: white;
    border-radius: 12px;
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 20px
}

.inputW label{
    display:block;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.inputW input{
    outline:none;
    border:none;
    border-bottom: 1px solid black;
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-family: "Hind";
}

.inputH{
    background: white;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 0;
    margin-bottom: 20px
}

.inputH label{
    display:block;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.inputH input{
    outline:none;
    border:none;
    border-bottom: 1px solid black;
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-family: "Hind";
}
#weight{
    background-color: white;
}

#height{
    background-color: white;
}
button.calculate{
    cursor: pointer;
    color: white;
    background: black;
    font-size: 20px;
    border-radius: 7px;
    padding: 12px 0;
    width: 50%;
    outline: none;
    border: none;
    transition: all 0.5s;
}
button.calculate:hover{
    background: grey;
}

.result{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
}

.result #result{
    font-size: 36px;
    font-weight: 900;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 25px;
}
.result #hasil{
    font-size: 20px;
}

#comment{
    color: rgb(8, 116, 178);
    font-weight: 800;
    
}
.comment{
    display:none;
    font-size: 20px;
    border: dashed 4px;
    border-radius: 7px;
    padding: 5px;
    width: 100%;
}

.footer{
    align-items: center;
    padding: 40px 15px
}

.footertext:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgb(155, 15, 15);
}

.modal-content{
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 600px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15); 
}

#modaltext{
    padding-top: 8px;
    padding-right: 5px;
    font-size: 10px;
    font-family: 'Hind';
    color: black;
    
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    padding-top: 300px
}

.close{
    cursor: pointer;
}

@media(max-width: 700px){
    .box{
        width: 300px
    }
    .input label{
        font-size: 18px;
    }

    .inputW label, .inputH label{
        font-size: 14px;
    }

    .input input, .inputH input, .inputW input{
        font-size: 24px
    }

    .modal-content{
        width: 380px;
    }
}


